{% extends 'base.html.twig' %}

{% block title %}Hello MathController!{% endblock %}

{% block body %}
<style>
    body {
        background-color: #ffffff;
            margin: 0;
            padding: 0; 
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
    }
    .example-wrapper{
        background-color: #000333;
            border-radius: 10px;
            padding: 8px;
            width: auto;
            color: white;
    }
</style>

<div class="example-wrapper">
    <h1>{{ controller_name }}</h1>

</div>
{% endblock %}
