{% extends 'base.html.twig' %}

{% block title %}Hello NameController!{% endblock %}

{% block body %}
<style>
     body {
           font-family: Arial, sans-serif;
            background-color: #000000;
            margin: 0;
            padding: 0; 
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
        }
    .example-wrapper{
        background-color: #007bff;
            border-radius: 10px;
            padding: 20px;
            width: auto;
            color: white;
    }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}</h1>

</div>
{% endblock %}
